<h1>Dashboard</h1>
<div class="row mt-3">
    <div class="col-md-8">
        <ngx-charts-advanced-pie-chart 
        [results]="saleData"
        [scheme]="'forest'">
        </ngx-charts-advanced-pie-chart>        
    </div>
    <div class="col-md-4">
        <h2>Por valor</h2>
        <ngx-charts-bar-vertical 
        [view]="[350,280]"
        [results]="saleData"
        [xAxisLabel]="'Datas'"
        [legendTitle]="'Datas'"
        [yAxisLabel]="'Valor'"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"        
        [scheme]="'flame'">
        </ngx-charts-bar-vertical>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6 p-2">
        <h2>Quantidade Vendas</h2>
        <ngx-charts-bar-vertical
        [view]="[350,280]"
        [results]="quantsaleData"
        [xAxisLabel]="'Datas'"
        [legendTitle]="'Datas'"
        [yAxisLabel]="'Quantidade'"
        [legend]="false"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [scheme]="'fire'">
        </ngx-charts-bar-vertical>
    </div>
    <div class="col-md-6 p-2">
        <ngx-charts-pie-chart 
        [results]="saleData"
        [legend]="false"
        [legendTitle]="'Product Sale Report'" 
        [view]="[350,280]"
        [labels]="true" 
        [scheme]="'flame'">
        </ngx-charts-pie-chart>        
    </div>
</div>
