<div class="navbar bg-dark position-fixed my-navbar">
    <ul class="nav vh-100 flex-column">
        <li class="nav-item">
            <a class="nav-link n-item" [routerLink]="['home']" routerLinkActive="router-link-active">Início</a>
        </li>
        <li class="nav-item">
            <a class="nav-link n-item" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link n-item" [routerLink]="['/fluxo-diario']" routerLinkActive="router-link-active">Fluxo Diario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link n-item" [routerLink]="['/produtos']" routerLinkActive="router-link-active">Produtos</a>
        </li>
    </ul>
</div>