<div *ngIf="tipo === 'C'">
  <table class="table table-sm table-striped">
    <thead>
      <tr class="text-danger">
        <th scope="col">Nome</th>
        <!--th scope="col">Tipo</th-->
        <th scope="col">Preço</th>
        <th scope="col" class="text-end">Data compra</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fluxoCusto of lancamentos">
        <th scope="row" class="text-danger">{{ fluxoCusto.nome | slice:0:27 }}{{ fluxoCusto.nome.length > 26 ? '...': ''}}</th>
        <!--td class="text-danger">{{ fluxoCusto.tipo }}</td-->
        <td class="text-danger">{{ fluxoCusto.preco | currency: 'BRL' }}</td>
        <td class="text-end text-danger">{{ fluxoCusto.data | date: "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="tipo === 'R'">
  <table class="table table-sm table-striped">
    <thead>
      <tr class="text-success">
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col" class="text-end">Data venda</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fluxoReceita of lancamentos">
        <th scope="row" class="text-success">{{ fluxoReceita.nome | slice:0:27 }} {{ fluxoReceita.nome.length > 26 ? '...': ''}}</th>
        <td class="text-success">{{ fluxoReceita.preco | currency: 'BRL' }}</td>
        <td class="text-end text-success">{{ fluxoReceita.data | date: "dd/MM/yyyy" }}</td>
      </tr>
    </tbody>
  </table>
</div>
