<h1>Fluxo de caixa</h1>
<p>
    Em Finanças, o fluxo de caixa refere-se ao fluxo do dinheiro no caixa da empresa, ou seja, ao montante de caixa
    recolhido e gasto por uma empresa durante um período de tempo definido, algumas vezes ligado a um projeto
    específico. O fluxo de caixa refere-se ao movimento de dinheiro no período passado, enquanto o orçamento é o seu
    equivalente para períodos futuros.<br><br>

    O Fluxo de Caixa é uma das ferramentas mais utilizadas pelas ciências contábeis, sendo um instrumento de gestão
    financeira que projeta para períodos futuros todas as entradas e as saídas de recursos financeiros da empresa,
    indicando como será o saldo de caixa para o período projetado.<br><br>

    De fácil elaboração para as empresas que possuem os controles financeiros bem organizados, ele deve ser utilizado
    para controle e, principalmente, como instrumento na tomada de decisões. O Fluxo de Caixa deve ser considerado como
    uma estrutura flexível, no qual o empresário deve inserir informações de entradas e saídas conforme as necessidades
    da empresa. Com as informações do Fluxo de Caixa, o empresário pode elaborar a Estrutura Gerencial de Resultados, a
    Análise de Sensibilidade, calcular a Rentabilidade, a Lucratividade, o Ponto de Equilíbrio e o Prazo de retorno do
    investimento. O objetivo é verificar a saúde financeira do negócio a partir de análise e obter uma resposta clara
    sobre as possibilidades de sucesso do investimento e do estágio atual da empresa.<br><br>

    O fluxo de caixa mal feito traz vários problemas para uma empresa, e um dos entraves é o vencimento das obrigações a
    pagar em um momento em que o caixa da empresa está desfalcado. Quando isso ocorre, a empresa se vê, na maioria das
    vezes, obrigada a contrair empréstimos para não ficar em débito com os fornecedores e prejudicar transações futuras.<br><br>

    Entre as três principais razões de falência ou insucessos de empresa, uma delas é a falta de planejamento financeiro
    ou a ausência total de fluxo de caixa e a previsão de fluxo de caixa (projetar as receitas e as despesas da
    empresa).<br><br>

    Sem um fluxo de caixa projetado a empresa não sabe antecipadamente quanto precisará de um financiamento ou quando
    terá, ainda que temporariamente, sobra de recursos para aplicar no mercado financeiro (ganhando juros, reduzindo o
    custo do capital de terceiros emprestado).
</p>